<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    PokeApi
  </h1>
</div>

<div style="text-align:center">
  <input type="text" [(ngModel)]="pokeName" name="pokeName">
  <button (click)="catchPokemon( )">Catch!</button>
</div>

<div class="text-center row no-found-label" *ngIf="pokeList?.length == 0">
  <p>No pokemon captured yet</p>
</div>

<div class="pokemons-caught">
  <div *ngFor="let pokemon of pokeList" class="row col-md-8 col-md-offset-2">
    <div class="img-content">
      <img src="{{pokemon.sprites.front_default}}" alt="" style="width: 100%; height: 100%">
    </div>

    <div class="content">
      <h3><b>PokemonID:</b> {{pokemon.id}}</h3>
      <h3><b>Name:</b> {{pokemon.name}}</h3>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
